@model ICollection<FoodProject.Models.CartItem>

@{
    ViewData["Title"] = "Details";
}
<div class="d-flex justify-content-between align-items-end">  
    <h2>Shopping Cart</h2>
    @if (ViewBag.HasOrder != null)
    {
        @Html.ActionLink("Go to Orders", "Details", "Order", null, new { @class = "text-light h5"})

    }
</div>


@if (ViewBag.Message != null)
{
    <p class="text-center text-success">@(ViewBag.Message as string)</p>
}
else
{
    <p class="text-center text-danger">@(ViewBag.ErrorMessage as string)</p>
}

<div>
    <h4>Items</h4>

    <hr />
    <table class="table category-table">
        <tr>
            <th>
                Name
            </th>

            <th>
                Price
            </th>
            <th>
                Quantity
            </th>
            <th>Cart Actions</th>
        </tr>

        @if (Model != null && Model.Count > 0)
        {
            foreach (var cartItem in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => cartItem.Name)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => cartItem.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => cartItem.Quantity)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "ShoppingCart", new { cartItemId = cartItem.CartItemId, returnUrl =
                Url.Action() },new { @class = "btn btn-primary" }) |
                        @Html.ActionLink("Remove", "Remove", "ShoppingCart", new { cartItemId = cartItem.CartItemId, returnUrl =
                Url.Action() }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }
        }
        else
        {
            <tr class="text-center">
                <td colspan="4">
                    <h4>You do not have any item in your Cart</h4>
                </td>
            </tr>
        }
    </table>
    @if (Model != null && Model.Count > 0)
    {
        <p class="d-flex justify-content-end">@Html.ActionLink("Checkout", "Checkout", "ShoppingCart", null, new { @class = "btn btn-success btn-lg"})</p>
    }
</div>
